#play{
	position: relative;
	margin-bottom: 15px;
	height: 150px;
	background-color: #CDCDCD;
}
#prince img{
	width:100px;
	height: 150px;
	line-height: 250px;
}
#princess img{
	width:100px;
	height: 150px;
	line-height: 250px;
}
#prince{
	position: absolute;
	float: left;
	margin: 15px;
	top: 0;
	left: 0;
}
#princess{
	position: absolute;
	float: right;
	margin: 15px;
	top: 0;
	right: 0;
}
#flower img{
	width: 15px;
	height: 15px; 
}
#button{
	margin:150px 600px;
	float: left;
}
input[type=submit]{
	width: 70px;
}