#play{
	position: relative;
	margin-bottom: 10px;
	height: 200px;
	background-color: #CDCDCD;
}
#prince img{
	width:100px;
	height: 150px;
	line-height: 250px;
}
#princess img{
	width:100px;
	height: 150px;
	line-height: 250px;
}
#prince{
	position: absolute;
	float: left;
	margin: 10px;
	top: 0;
	left: 0;
}
#princess{
	position: absolute;
	float: right;
	margin: 10px;
	top: 0;
	right: 0;
}
#flower img{
	width: 20px;
	height: 20px; 
}
#button{
	margin:100px 400px;
	float: left;
}
input[type=submit]{
	width: 60px;
}