h1{
	color: red;
	text-align: center;
}
table,tr,td{
	border: 2px solid black;	
}
table{
	border-collapse: collapse;	
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}
td{
	width: 200px;
	height: 60px;
}
.color{
	background: orange;
}
tbody tr:nth-child(even){
	background: #CDCDCD;
}